<div class="container-fluid p-0">
  <div class="bg-image">
    <div class="row justify-content-center align-items-center m-0">
      <div class="col-10 col-md-6 col-lg-5">
        <h1 class="text-center my-4">Formulario de Reservación</h1>
        <div class="card shadow-lg mb-5">
          <div class="card-body p-5">
            <form >
              <div class="mb-3">
                <label for="nombre" class="form-label">A nombre de quien es la reservacion</label>
                <input type="text" class="form-control" id="nombre" />
              </div>
              <div class="mb-3">
                <label for="numeroCelular" class="form-label"
                  >Número de Celular</label
                >
                <input type="tel" class="form-control" id="numeroCelular" />
              </div>
              <div class="mb-3">
                <label for="fechaReservacion" class="form-label"
                  >Fecha de Reservación</label
                >
                <input type="date" class="form-control" id="fechaReservacion" />
              </div>
              <div class="mb-3">
                <label for="cantidadPersonas" class="form-label"
                  >Cantidad de Personas</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="cantidadPersonas"
                />
              </div>
              <div class="mb-3">
                <label for="planta" class="form-label">Planta</label>
                <select class="form-select" id="planta">
                  <option value="1">Planta 1</option>
                  <option value="2">Planta 2</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="vip" class="form-label">VIP</label>
                <select class="form-select" id="vip">
                  <option value="si">Sí</option>
                  <option value="no">No</option>
                </select>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary rounded-pill">
                  Enviar Reservación
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
