.container-fluid {
    background-color: #252836; 
    color: white; 
  }

  .table {
    background-color: #1F1D2B;
  }

  .title {
    background-color: #1F1D2B;
    color: white; 
  }

  .title2{
    background-color: #1F1D2B;
    color: white; 
    border: solid 1px white;
  }