<div class="container-fluid">
  <h1 class="text-center pt-3">Panel de Usuario</h1>
  <h2 class="text-center mb-5">
    Bienvenido, {{ usuario.nombres }} {{ usuario.apellidos }}
  </h2>
  <div class="row justify-content-center">
    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0" *ngIf="isAdmin">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <a href="/home/adminReservation" class="card-link text-decoration-none">
        <div class="card h-100 p-3 rounded custom-card">
          <div class="text-center">
            <img
              src="../../../assets/icons/clipboard.svg"
              alt="clipboard"
              width="50%"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Reservaciones</h5>
          </div>
        </div>
      </a>
    </div>
    <hr class="d-sm-none" *ngIf="isAdmin" />
    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0" *ngIf="!isAdmin">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <a
        href="/home/customerReservation"
        class="card-link text-decoration-none"
      >
        <div class="card h-100 p-3 rounded custom-card">
          <div class="text-center">
            <img
              src="../../../assets/icons/clipboard.svg"
              alt="clipboard"
              width="50%"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Mis Reservaciones</h5>
          </div>
        </div>
      </a>
    </div>
    <hr class="d-sm-none" *ngIf="!isAdmin" />

    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <a href="/home/profile" class="card-link text-decoration-none">
        <div class="card h-100 p-3 rounded custom-card">
          <div class="text-center">
            <img
              src="../../../assets/icons/person.svg"
              alt="person"
              width="60%"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Perfil</h5>
          </div>
        </div>
      </a>
    </div>
    <hr class="d-sm-none" />

    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0" *ngIf="!isAdmin">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <a href="/home/reservationForm" class="card-link text-decoration-none">
        <div class="card h-100 p-3 rounded custom-card">
          <div class="text-center">
            <img
              src="../../../assets/icons/clipboardplus.svg"
              alt="list+"
              width="55%"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Solicitar Reservación</h5>
          </div>
        </div>
      </a>
    </div>
    <hr class="d-sm-none" *ngIf="!isAdmin" />

    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <a href="/" class="card-link text-decoration-none">
        <div class="card h-100 p-3 rounded custom-card">
          <div class="text-center">
            <img src="../../../assets/icons/list.svg" alt="imagen1" width="55%" />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Listado de mesas</h5>
          </div>
        </div>
      </a>
    </div>
    <hr class="d-sm-none" *ngIf="!isAdmin" />

    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <a href="/" class="card-link text-decoration-none">
        <div class="card h-100 p-3 rounded custom-card">
          <div class="text-center">
            <img src="../../../assets/icons/table.svg" alt="imagen2" width="60%" />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Registro de mesas</h5>
          </div>
        </div>
      </a>
    </div>
    <hr class="d-sm-none" *ngIf="!isAdmin" />

    <div class="col-md-3 col-lg-2 mx-2 my-2 mb-sm-0">
      <!-- Clase mb-sm-0 para eliminar el margen en pantallas pequeñas -->
      <div class="card h-100 p-3 rounded custom-card position-relative">
        <div class="text-center">
          <img src="../../../assets/icons/sesion.svg" alt="list+" width="55%" />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Cerrar Sesión</h5>
          <a
            type="button"
            class="stretched-link"
            (click)="logOut()"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="fin"></div>
</div>
